#root {
    width: 100%;
}

.divGeneral {
    background-color: aqua;
    color: gray;
}

.cardProducto {
    width: 18rem;
    margin: 4px;
    background-color: rgba(225, 225, 225, 0.8);
}

.darkMode {
    background-color: black;
    color: antiquewhite;
}

